{% extends "basebs.html" %}

{% block heading %}
    <script>
          $(function () {
              $(document).ready(function () {

                  var idempre=0;
                  const inputFile = document.getElementById('imglogo');
                  const btnQuitar = document.getElementById('btn-quitar-img');
                  const previewImg = document.getElementById('preview');
                  const imagenPorDefecto = "../../sireca/static/assets/images/shapes/01.png";
                  const nombreArchivoValido = /^[a-zA-Z0-9_.\-]+$/;

                  function validarCedula(cedula) {
                        if (!/^\d{10}$/.test(cedula)) return false;

                        const digitos = cedula.split('').map(Number);
                        const provincia = parseInt(cedula.substring(0, 2));
                        if (provincia < 1 || provincia > 24) return false;

                        const coeficientes = [2, 1, 2, 1, 2, 1, 2, 1, 2];
                        let total = 0;
                        for (let i = 0; i < 9; i++) {
                            let valor = digitos[i] * coeficientes[i];
                            if (valor >= 10) valor -= 9;
                            total += valor;
                        }

                        const digitoVerificador = total % 10 === 0 ? 0 : 10 - (total % 10);
                        return digitoVerificador === digitos[9];
                  }

                  function validarRuc(ruc) {
                      if (!/^\d{13}$/.test(ruc)) {
                            return false;
                      }
                      return true;
                  }

                  function buscar(){
                       location.href = "/originador?acc={{ permisopcion.id }}";
                  }

                  $("#cmbsector").select2({width: "100%", dropdownParent: $('#ventanaempresa')});
                  $("#cmbactividad").select2({width: "100%", dropdownParent: $('#ventanaempresa')});
                  $("#cmbcargo").select2({width: "100%", dropdownParent: $('#ventanaempresa')});
                  $("#cmbempresapertenece").select2({width: "100%", dropdownParent: $('#ventanaempresa')});

                  var tablaempresa=new DataTable('#tablaempresa', {
                   language: {
                        "lengthMenu": "Mostrar _MENU_ registros",
                        "zeroRecords": "No existe información",
                        "info": "Mostrando _PAGE_ de _PAGES_",
                        "infoEmpty": "Sin datos",
                        "infoFiltered": "(Filtrando de un total de _MAX_ registros)",
                        "search": "Buscar",
                        "paginate": {
                            "previous": "Anterior",
                            "next": "Siguiente"
                        }
                   },
                   ajax: {
                        url: '/originador',
                        type: 'POST',
                        data: function (d) {
                            d.action = 'serverSide';
                        }
                    },
                    columns: [

                         { data: 'logo',"orderable": true },
                         { data: 'pertenece',"orderable": true },
                         { data: 'tiporiginador',"orderable": true },
                         { data: 'ruc',"orderable": true },
                         { data: 'nombre',"orderable": true },
                         { data: 'direccion',"orderable": true },
                         { data: 'sector',"orderable": true },
                         { data: 'actividad',"orderable": true },
                         { data: 'estado',type: 'html' },
                         { data: 'acciones',type: 'html' }
                    ],
                    processing: true,
                    serverSide: true,
                    fixedHeader: true,
                    searching: true,
		            search: true,
		            info: false,
                    initComplete: function () {
                        var table = this.api();
                        $('#' + 'tablaempresa' + '_filter').parent().addClass('d-none');
                        $('.filtro-columna', table.table().header()).each(function () {
                            const columnIndex = $(this).index();
                            const column = table.column(columnIndex);

                            if (!$(this).hasClass('sin-filtrado')) {
                                // Filtro tipo SELECT si alguna clase comienza con "filtro-select"
                                var classes = this.className.split(' ');
                                var claseFiltro = classes.find(function (clase) {
                                    return clase.includes('filtro-select');
                                });
                                if ([...this.classList].some(c => c.startsWith('filtro-select'))) {
                                    const select = $('<select class="form-select form-select-sm form-control-filter"><option value="">Todos</option></select>')
                                        .on('change', function () {
                                            const val = $.fn.dataTable.util.escapeRegex($(this).val());
                                            column.search(val, false, false).draw();
                                        });

                                    const json = table.ajax.json();
                                    const opciones = json?.[claseFiltro] || [];


                                    select.empty().append('<option value="">Seleccione</option>');
                                    for (const opt of opciones) {
                                        select.append(`<option value="${opt.id}">${opt.nombre}</option>`);
                                    }

                                    $(this).html(select);

                                    select.select2({
                                        width: '100%',  // Se adapta al ancho del <th>
                                        placeholder: "Seleccione",
                                        allowClear: true
                                    });

                                } else {
                                    // Filtro tipo INPUT
                                    const input = $('<input type="text" class="form-control form-control-sm form-control-filter" placeholder="Filtrar...">')
                                        .on('keyup change', function () {
                                            column.search($(this).val()).draw();
                                        });

                                    $(this).html(input);
                                }
                            }
                        });

                       table.columns.adjust();
                    }
                   });


                  const filtroActividad = function () {
                        const val = $.fn.dataTable.util.escapeRegex($(this).val());
                        const columnActividad = $('#tablaempresa').DataTable().column(7);  // Ajusta índice si es necesario
                        columnActividad.search(val, false, false).draw();
                  }

                  function asignarEventosDependientes() {
                        let sectorSelect = $('.filtro-select-sector select');
                        let actividadSelect = $('.filtro-select-actividad select');
                        sectorSelect.off('change.cargar').on('change.cargar', function () {
                            const val = $(this).val();
                            actividadSelect.off('change');
                            actividadSelect.prop('disabled', true)
                                .html('<option value="">Cargando...</option>')
                                .trigger('change.select2');

                            $.post('/originador', { action: 'actividad', idsector: val }, function (data) {
                                actividadSelect.empty().append('<option value="">Seleccione</option>');
                                for (let act of data.listactividad) {
                                    actividadSelect.append(`<option value="${act.id}">${act.nombre}</option>`);
                                }
                                if (actividadSelect.hasClass("select2-hidden-accessible")) {
                                    actividadSelect.select2('destroy');
                                }
                                actividadSelect.select2({
                                    width: '100%',
                                    placeholder: "Seleccione",
                                    allowClear: true
                                });
                                actividadSelect.prop('disabled', false);
                                actividadSelect.on('change', filtroActividad);
                            });
                        });
                  }

                 tablaempresa.on('xhr.dt', function () {
                    asignarEventosDependientes();
                 });

                function validarCamposDeTab(tabSelector) {
                        const tab = document.querySelector(tabSelector);
                        const fields = tab.querySelectorAll('input[required], select[required], textarea[required]');
                        let valido = true;

                        for (let field of fields) {
                            const isVisible = field.offsetParent !== null;

                            if (isVisible && (!field.value || field.value === "0")) {
                                field.classList.add("is-invalid");

                                let feedback = field.parentElement.querySelector('.invalid-feedback');
                                if (!feedback) {
                                    feedback = document.createElement('div');
                                    feedback.className = 'invalid-feedback';
                                    field.parentElement.appendChild(feedback);
                                }

                                feedback.textContent = "Este campo es obligatorio.";
                                feedback.style.display = 'block';

                                setTimeout(() => field.focus(), 300);  // evitar error de no focusable
                                valido = false;
                                break;
                            } else {
                                field.classList.remove("is-invalid");
                                let feedback = field.parentElement.querySelector('.invalid-feedback');
                                if (!feedback) {
                                     feedback = document.createElement('div');
                                     feedback.className = 'invalid-feedback';
                                     field.parentElement.appendChild(feedback);
                                }
                                feedback.textContent = "";
                                feedback.style.display = 'none';
                                const nombreCampo = field.id;
                                if (nombreCampo === 'txtidentificacion') {
                                    if(!validarRuc($('#txtidentificacion').val().trim())) {
                                        feedback.textContent = "El RUC ingresado no es válido.";
                                        feedback.style.display = 'block';
                                        valido = false;
                                        break;
                                    }
                                }else if (nombreCampo === 'txtidentificacionrep '){

                                    if ($("#cmbtipoidentificacionrep").val()==1){

                                        if(!validarCedula($("#txtidentificacionrep").val())) {
                                            feedback.textContent = "La cédula del representante no es válida.";
                                            feedback.style.display = 'block';
                                            valido = false;
                                            break;
                                        }

                                    }else {
                                         if(!validarRuc($("#txtidentificacionrep").val())) {
                                            feedback.textContent = "El RUC ingresado no es válido.";
                                            feedback.style.display = 'block';
                                            valido = false;
                                            break;
                                         }
                                    }

                                }

                            }
                        }

                        return valido;
                }

                function validarTabsEnOrden(...tabs) {
                        for (let tabId of tabs) {
                            const tabLink = document.querySelector(`button[data-bs-target="${tabId}"]`);
                            if (tabLink) {
                                const tab = new bootstrap.Tab(tabLink);
                                tab.show();
                            } else {
                                console.warn(`No se encontró tab link para ${tabId}`);
                             }
                            if (!validarCamposDeTab(tabId)) {
                                return false;
                            }
                        }
                        return true;
                }

                $("#btnagregar").click(function() {
                       $("#tituloventana").html("Casa Comercial / Entidad Financiera");
                       $("#ventanaempresa").modal({backdrop: 'static', keyboard: false});
                       $("#ventanaempresa").modal("show");
                });

                $('#frmingresoempresa').on('submit', function(e) {
                      e.preventDefault();
                      if (validarTabsEnOrden('#datosgenerales','#datosrepresentante')) {
                          Loader.open();
                          var mensapresentacion= idempre==0 ? 'Se ingreso correctamente' : 'Se actualizo correctamente'
                          const formData = new FormData(this);
                          formData.append('action', 'agregar');
                          if ($('#imglogo')[0].files[0])
                            formData.append('imglogo', $('#imglogo')[0].files[0]);
                          formData.append('id',  idempre);

                          $.ajax({
                             url: '/originador',
                             type: "POST",
                             contentType: false,
                             data: formData,
                             processData: false,
                             cache: false,
                             success: function (data) {
                                 if (data.result == "ok") {

                                     swal("! Empresa", mensapresentacion, "success").then((result) => {
                                             buscar();
                                      });

                                 } else {
                                     swal("Error", data.message, "error");
                                 }
                             },
                             error: function (xhr, ajaxOptions, thrownError) {
                                 swal("Error", "Error Conexion en el Servidor", "error");
                             },
                             complete: function(){
                                 Loader.close();
                             }
                          });
                      }
                  });

                  $("#btncancelar").click(function() {
                     document.getElementById("frmingresoempresa").reset();
                     idempre=0;
                     previewImg.src = imagenPorDefecto;
                     btnQuitar.style.display = 'none';
                     inputFile.value = '';
                     $("#cmbsector").val("");
                     $('#cmbsector').trigger('change.select2');
                     $("#cmbactividad").val("");
                     $('#cmbactividad').trigger('change.select2');
                     $("#ventanaempresa").modal('hide');
                  });

                  $("#cmbsector").change(function () {

                     $.post("/originador", {
                         "action": "actividad",
                         idsector: $("#cmbsector").val()
                     }, function (data) {
                         var actividadtxt = '';
                         if (data.result == 'ok') {


                             for (var x in data.listactividad) {
                                 actividadtxt = actividadtxt + '<option  value="' + data.listactividad[x].id + '"> ' + data.listactividad[x].nombre + '</option>';
                             }
                             $("#cmbactividad").html(actividadtxt);


                         } else {
                             $("#cmbactividad").html(actividadtxt);

                         }

                     }, 'json');
                  });


                  editar=function (idempr){
                         Loader.open();
                         $("#tituloventana").html("Actualizar Empresa");
                         idempre=idempr;
                         $.post("/originador", {
                             "action": "buscardata",
                              "id":idempre
                         }, function (data) {

                             if (data.result == 'ok') {

                                 var activitxt='';
                                 var empresatxt='';
                                 var cargotxt='<option  value=0> SELECCIONAR EL CARGO </option>';
                                 $("#txtidentificacion").val(data.empresa[0].identificacion);
                                 $("#txtrazonsocial").val(data.empresa[0].nombre);
                                 $("#cmbestado").val(parseInt(data.empresa[0].estado));
                                 $("#cmbsector").val(parseInt(data.empresa[0].sector));
                                 $('#cmbsector').trigger('change.select2');
                                 $("#txtdireccion").val(data.empresa[0].direccion);
                                 $("#txtidentificacionrep").val(data.empresa[0].identificacionrep);
                                 $("#txtnombrerep").val(data.empresa[0].nombres);
                                 $("#txtapellido1").val(data.empresa[0].apellido1);
                                 $("#txtapellido2").val(data.empresa[0].apellido2);
                                 $("#txttelefconv").val(data.empresa[0].telefoconv);
                                 $("#txtcelular").val(data.empresa[0].celular);
                                 $("#txtcelular2").val(data.empresa[0].otrocelular);
                                 $("#txtcorreo").val(data.empresa[0].email);

                                 for (var x in data.empresa[0].listactividad) {
                                     activitxt = activitxt + '<option  value="' + data.empresa[0].listactividad[x].id + '"> ' + data.empresa[0].listactividad[x].nombre + '</option>';
                                 }
                                 $("#cmbactividad").html(activitxt);

                                 for (var xcargo in data.empresa[0].listacargo) {
                                     cargotxt = cargotxt + '<option  value="' + data.empresa[0].listacargo[xcargo].id + '"> ' + data.empresa[0].listacargo[xcargo].nombre + '</option>';
                                 }
                                 $("#cmbcargo").html(cargotxt);

                                 for (var xempresa in data.empresa[0].listaempresa) {
                                     empresatxt = empresatxt + '<option  value="' + data.empresa[0].listaempresa[xempresa].id + '"> ' + data.empresa[0].listaempresa[xempresa].nombre + '</option>';
                                 }
                                 $("#cmbempresapertenece").html(empresatxt);



                                 if (data.empresa[0].logo!='') {
                                     previewImg.src = data.empresa[0].logo;
                                     // Oculta los temas
                                     document.querySelectorAll('.profile-img-edit img:not(#preview)').forEach(img => img.style.display = 'none');
                                     // Mostrar el botón para quitar imagen
                                     btnQuitar.style.display = 'inline-block';
                                 }

                             }else{
                                  swal("Error", data.message, "error");
                             }

                         }, 'json').always(function(data) {
                             if (data.empresa && data.empresa[0] && data.empresa[0].actividad !== undefined) {
                                 $("#cmbactividad").val(parseInt(data.empresa[0].actividad));
                                 $('#cmbactividad').trigger('change.select2');
                                 $("#cmbcargo").val(parseInt(data.empresa[0].cargo));
                                 $('#cmbcargo').trigger('change.select2');
                                 $("#cmbempresapertenece").val(parseInt(data.empresa[0].idmepresapertenece));
                                 $('#cmbempresapertenece').trigger('change.select2');
                                 $("#cmbtipoempresa").val(parseInt(data.empresa[0].tipoempresa));
                                 $("#ventanaempresa").modal({backdrop: 'static', keyboard: false});
                                 $("#ventanaempresa").modal("show");
                             }
                             Loader.close()

                         });
                  }

                  eliminarEmpresa = function (id,nombre) {

                      swal({
                        title: '¿Está seguro que desea eliminar la empresa?',
                        text: "Empresa : "+nombre,
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Si,Eliminar!',
                        cancelButtonText: 'Cancelar',
                        confirmButtonClass: 'btn btn-success me-2',
                        cancelButtonClass: 'btn btn-danger ',
                        buttonsStyling: false,
                        allowOutsideClick: false

                        }).then(function (isConfirm) {

                                if (isConfirm['dismiss']!='cancel' && isConfirm['dismiss']!='esc') {

                                    Loader.open();
                                    var formData = new FormData();
                                    formData.append('action', 'eliminar');
                                    formData.append('id', id);

                                    $.ajax({
                                        url: '/originador',
                                        type: "POST",
                                        contentType: false,
                                        data: formData,
                                        processData: false,
                                        cache: false,
                                        success: function (data) {
                                            if (data.result == "ok") {
                                                swal("! Empresa","Se eliminó correctamente", "success").then((result) => {
                                                 buscar();
                                                });

                                            } else {
                                                swal("Error", data.message, "error");

                                            }

                                        }, error: function (xhr, ajaxOptions, thrownError) {
                                            swal("Error", "Error Conexion en el Servidor", "error");

                                        },

                                        complete: function () {
                                             Loader.close();
                                        }
                                    });

                                }
                      })


                  }

                  document.getElementById('imglogo').addEventListener('change', function (event) {
                        const file = event.target.files[0];

                        if (file.size === 0) {
                            swal("Error", "El archivo está vacío.", "error");
                            inputFile.value = '';
                            return;
                        }

                         const nombre = file.name;
                         if (!nombreArchivoValido.test(nombre)) {
                            swal("Error", "El nombre del archivo no debe contener tildes ni caracteres especiales.", "error");
                            inputFile.value = '';
                            return;
                         }

                         if (file.size > 4 * 1024 * 1024) {
                              swal("Error", "La imagen no debe superar los 2MB.", "error");
                              inputFile.value = '';
                              return;
                         }

                        if (file && file.type.startsWith('image/')) {
                          const reader = new FileReader();
                          reader.onload = function (e) {
                            previewImg.src = e.target.result;
                            // Oculta los temas
                            document.querySelectorAll('.profile-img-edit img:not(#preview)').forEach(img => img.style.display = 'none');
                            // Mostrar el botón para quitar imagen
                            btnQuitar.style.display = 'inline-block';
                          };
                          reader.readAsDataURL(file);
                        } else {
                          swal("Error", "Solo se permiten imágenes en formato .jpg, .jpeg o .png", "error");
                          inputFile.value = '';
                          return;
                        }

                });
                  // Acción al quitar imagen
                  btnQuitar.addEventListener('click', function () {
                    inputFile.value = ''; // Borrar archivo seleccionado manualmente

                    // Oculta el botón de quitar
                    btnQuitar.style.display = 'none';

                    if (idempre > 0) {
                        // Llamar al backend para eliminar el logo en el servidor
                        $.post("/originador", {
                            action: "eliminarlogo",
                            id: idempre
                        }, function (data) {
                            if (data.result === 'ok') {
                                previewImg.src = imagenPorDefecto;
                            } else {
                                swal("Error", "No se pudo eliminar el logo del servidor.", "error");
                            }
                        }, 'json').always(function () {
                            // Restaurar otras imágenes (temas) si aplica
                            document.querySelectorAll('.profile-img-edit img:not(#preview)').forEach(img => {
                                img.style.display = 'inline-block';
                            });
                        });

                    } else {
                        // Para nuevo registro, solo restaurar imagen por defecto
                        previewImg.src = imagenPorDefecto;

                        document.querySelectorAll('.profile-img-edit img:not(#preview)').forEach(img => {
                            img.style.display = 'inline-block';
                        });
                    }
                });



              });
          });
    </script>

{% endblock %}

{% block canvas %}

    <div class="col-sm-12">
         <div class="card">
            <div class="card-header d-flex justify-content-between">
               <div class="header-title">
                  <h4 class="card-title">Listado de Casa Comercial / Entidad Financiera</h4>
               </div>
            </div>
            <div class="card-body">
                <div class="row d-flex justify-content-end">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <button type="button" class="btn btn-primary" id="btnagregar">Agregar</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tablaempresa" class="table table-striped"   >
                 <thead>
                    <tr>

                       <th>Logo</th>
                       <th>Empresa</th>
                       <th>Tipo</th>
                       <th>Ruc</th>
                       <th>Razón Social</th>
                       <th>Dirección</th>
                       <th>Sector</th>
                       <th>Actividad</th>
                       <th>Estado</th>
                       <th style="align-content: center">...</th>
                    </tr>

                     <tr>
                        <th class="filtro-columna sin-filtrado"></th>
                        <th class="filtro-columna filtro-select-empresa"></th>
                        <th class="filtro-columna filtro-select-tiporiginador"></th>
                        <th class="filtro-columna filtro-ruc"></th>
                        <th class="filtro-columna filtro-nombre"></th>
                        <th class="filtro-columna sin-filtrado"></th>
                        <th class="filtro-columna filtro-select-sector"></th>
                        <th class="filtro-columna filtro-select-actividad"></th>
                        <th class="filtro-columna sin-filtrado"></th>
                        <th class="filtro-columna sin-filtrado"></th>
                    </tr>


                 </thead>
                 <tbody>
                 </tbody>
              </table>
                </div>
            </div>
         </div>
      </div>
    </div>

    <div class="modal fade" id="ventanaempresa" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="tituloventana" >Ingresar Originador</h5>
          </div>
          <div class="modal-body">
             <div class="card-body">
               <form id="frmingresoempresa" novalidate enctype="multipart/form-data" method="post">

                   <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="datosgenerales-tab" data-bs-toggle="tab" data-bs-target="#datosgenerales" type="button" role="tab" aria-controls="datosgenerales" aria-selected="true">Datos Generales</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="datosrepresentante-tab" data-bs-toggle="tab" data-bs-target="#datosrepresentante" type="button" role="tab" aria-controls="datosrepresentante" aria-selected="false">Datos Representante Legal</button>
                      </li>
                   </ul>
                   <div class="tab-content">
                       <div class="tab-pane active" id="datosgenerales" role="tabpanel" aria-labelledby="datosgenerales-tab">
                            <div class="row">
                                <div class="col-sm-7 col-md-7 col-lg-7">
                                    <div class="form-group">
                                        <label class="form-label">Empresa</label>
                                        <select id="cmbempresapertenece" name="cmbempresapertenece" required class="form-select mb-3 shadow-none">
                                             <option value="0">SELECCIONAR EMPRESA</option>
                                             {% for xlistadoempresa in listadoempresa %}
                                                       <option value='{{ xlistadoempresa.id }}'>{{ xlistadoempresa.nombre }}</option>
                                             {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <label class="form-label">Tipo</label>
                                        <select id="cmbtipoempresa" name="cmbtipoempresa" required class="form-select mb-3 shadow-none">
                                             <option value="0">SELECCIONAR EL TIPO</option>
                                             {% for xlistadotipooriginador in listadotipooriginador %}
                                                       <option value='{{ xlistadotipooriginador.id }}'>{{ xlistadotipooriginador.nombre }}</option>
                                             {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label">Tipo Identificación</label>
                                        <select id="cmbtipoidentificacion" name="cmbtipoidentificacion" required class="form-select mb-3 shadow-none">
                                             {% for xlistatipoidentifcacion in listatipoidentifcacion %}
                                                       <option value='{{ xlistatipoidentifcacion.id }}'>{{ xlistatipoidentifcacion.nombre }}</option>
                                             {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <label class="form-label">Identificación <a style="color: #d92550">(*)</a> :</label>
                                        <input type="text" class="form-control" id="txtidentificacion" name="txtidentificacion" placeholder="identificación" required>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                       <div class="profile-img-edit position-relative">
                                          <img id="preview" src="../../sireca/static/assets/images/shapes/01.png" alt="profile-pic" class="theme-color-default-img profile-pic rounded avatar-100">
                                          <img id="preview" src="../../sireca/static/assets/images/shapes/01.png" alt="profile-pic" class="theme-color-purple-img profile-pic rounded avatar-100">
                                          <img id="preview" src="../../sireca/static/assets/images/shapes/01.png" alt="profile-pic" class="theme-color-blue-img profile-pic rounded avatar-100">
                                          <img id="preview" src="../../sireca/static/assets/images/shapes/01.png" alt="profile-pic" class="theme-color-green-img profile-pic rounded avatar-100">
                                          <img id="preview" src="../../sireca/static/assets/images/shapes/01.png" alt="profile-pic" class="theme-color-yellow-img profile-pic rounded avatar-100">
                                          <img id="preview" src="../../sireca/static/assets/images/shapes/01.png" alt="profile-pic" class="theme-color-pink-img profile-pic rounded avatar-100">
                                          <label for="imglogo" class="upload-icone bg-primary" style="cursor:pointer">
                                             <svg class="upload-button icon-14" width="14"  viewBox="0 0 24 24">
                                                <path fill="#ffffff" d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" />
                                             </svg>
                                              <svg class="upload-button icon-14" width="14" viewBox="0 0 24 24">
                                                    <path fill="#ffffff" d="M19,13H5V11H19V13Z" /> <!-- ícono de "menos" / quitar -->
                                              </svg>
                                             <input class="file-upload" type="file" id="imglogo" name="imglogo" accept=".jpg,.jpeg,.png"  >
                                          </label>
                                          <button type="button" id="btn-quitar-img"
                                              class="upload-icone bg-danger position-absolute top-0 end-0 rounded-circle"
                                              style="display: none; border: none; z-index: 2; transform: scale(0.8);">
                                              <svg class="upload-button icon-14" width="14" viewBox="0 0 24 24">
                                                <path fill="#ffffff" d="M19,13H5V11H19V13Z" />
                                              </svg>
                                          </button>

                                       </div>
                                       <div class="img-extension mt-3">
                                          <div class="d-inline-block align-items-center">
                                             <span>Solo</span>
                                             <a href="#">.jpg</a>
                                             <a href="#">.png</a>
                                             <a href="#">.jpeg</a>
                                          </div>
                                       </div>
                                    </div>
                                </div>
                             </div>
                             <div class="row">
                                   <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label class="form-label" for="txtrazonsocial">Razón Social:</label>
                                            <input type="text" class="form-control" id="txtrazonsocial" name="txtrazonsocial" autocomplete="off" required >
                                        </div>
                                   </div>
                             </div>
                             <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                       <div class="form-group">
                                            <label class="form-label">Sector :</label>
                                            <select id="cmbsector" name="cmbsector" class="form-select mb-3 shadow-none" required>
                                                <option value="0">SELECCIONAR EL SECTOR</option>
                                                 {% for xlistasector in listasector %}
                                                       <option value='{{ xlistasector.id }}'>{{ xlistasector.nombre }}</option>
                                                 {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                       <div class="form-group">
                                            <label class="form-label">Actividad  :</label>
                                            <select id="cmbactividad" name="cmbactividad" required class="form-select mb-3 shadow-none">
                                                  <option value="0">SELECCIONAR LA ACTIVIDAD</option>
                                            </select>
                                        </div>
                                    </div>
                               </div>
                             <div class="row">
                                   <div class="col-sm-12 col-md-12 col-lg-12">
                                       <div class="form-group">
                                            <label class="form-label" for="direccion">Dirección:</label>
                                            <input type="text" class="form-control" id="txtdireccion" name="txtdireccion" autocomplete="off" required >
                                       </div>
                                   </div>
                               </div>
                             <div class="row">
                                   <div class="col-sm-12 col-md-12 col-lg-12">
                                       <div class="form-group">
                                            <label class="form-label">Estado</label>
                                            <select id="cmbestado" name="cmbestado" class="form-select form-select-lg shadow-none">
                                                <option value="1">Activo</option>
                                                <option value="2">Inactivo</option>
                                            </select>
                                       </div>
                                   </div>
                               </div>
                       </div>
                       <div class="tab-pane" id="datosrepresentante" role="tabpanel" aria-labelledby="datosrepresentante-tab">
                           <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label">Tipo Identificación</label>
                                        <select id="cmbtipoidentificacionrep" name="cmbtipoidentificacionrep"  required class="form-select mb-3 shadow-none">
                                             {% for listatipoidentifcacionrep in listatipoidentifcacionrep %}
                                                       <option value='{{ listatipoidentifcacionrep.id }}'>{{ listatipoidentifcacionrep.nombre }}</option>
                                             {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <div class="form-group">
                                        <label class="form-label">Identificación <a style="color: #d92550">(*)</a> :</label>
                                        <input type="text" class="form-control" id="txtidentificacionrep" name="txtidentificacionrep" placeholder="identificación" required>
                                    </div>
                                </div>
                           </div>
                            <div class="row">
                               <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label" for="txtnombrerep">Nombres:</label>
                                        <input type="text" class="form-control" id="txtnombrerep" name="txtnombrerep" autocomplete="off" required >
                                    </div>
                               </div>
                            </div>
                            <div class="row">
                               <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label" for="txtapellido1">Apellido Paterno:</label>
                                        <input type="text" class="form-control" id="txtapellido1" name="txtapellido1" autocomplete="off" required >
                                    </div>
                               </div>
                               <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label" for="txtapellido2">Apellido Materno:</label>
                                        <input type="text" class="form-control" id="txtapellido2" name="txtapellido2" autocomplete="off" required >
                                    </div>
                               </div>
                            </div>
                            <div class="row">
                               <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label" for="txttelefconv">Teléfono Convenional:</label>
                                        <input type="text" class="form-control" id="txttelefconv" name="txttelefconv" autocomplete="off" >
                                    </div>
                               </div>
                               <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label" for="txtcelular">Celular:</label>
                                        <input type="text" class="form-control" id="txtcelular" name="txtcelular" autocomplete="off" >
                                    </div>
                               </div>
                               <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label" for="txtcelular2">Otro Celular:</label>
                                        <input type="text" class="form-control" id="txtcelular2" name="txtcelular2" autocomplete="off" >
                                    </div>
                               </div>
                            </div>
                           <div class="row">
                               <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label">Cargo</label>
                                        <select id="cmbcargo" name="cmbcargo"  class="form-select mb-3 shadow-none">
                                              <option value="0">SELECCIONAR EL CARGO</option>
                                             {% for xlistacargo in listacargo %}
                                                       <option value='{{ xlistacargo.id }}'>{{ xlistacargo.nombre }}</option>
                                             {% endfor %}
                                        </select>
                                    </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label" for="txtcorreo">Correo:</label>
                                        <input type="email" class="form-control" id="txtcorreo" name="txtcorreo" autocomplete="off" >
                                    </div>
                               </div>
                           </div>

                       </div>
                   </div>
                   <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btncancelar">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="btnguardar">Guardar</button>
                  </div>
               </form>
             </div>
          </div>

        </div>
      </div>
    </div>


{% endblock %}